<!-- HTML模板文件 -->

<!DOCTYPE html>
<!--[if lt IE 9 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>
  <meta charset="UTF-8" />

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=<%= htmlWebpackPlugin.options.viewportWidth %>, initial-scale=1">

  <!-- Prevent mobile Safari from making phone numbers -->
  <meta name="format-detection" content="telephone=no">

  <% if (!htmlWebpackPlugin.options.dynamicMetaTags) { %>
  <title>儒越编程·打造孩子未来力</title>

  <!-- Search & Open Graph-->
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />

  <meta property="og:url" content="https://scratch.ruyue.xyz/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Scratch - <%= htmlWebpackPlugin.options.title %>" />
  <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>" />
  <meta property="og:image" content="<%- htmlWebpackPlugin.options.og_image %>" />
  <meta property="og:image:type" content="<%- htmlWebpackPlugin.options.og_image_type %>" />
  <meta property="og:image:width" content="<%- htmlWebpackPlugin.options.og_image_width %>" />
  <meta property="og:image:height" content="<%- htmlWebpackPlugin.options.og_image_height %>" />
  <% } %>

  <!-- Favicon & CSS normalize -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/css/lib/normalize.min.css" />

  <!-- Polyfills -->
  <script src="/js/polyfill.min.js"></script>
  <!-- 微信JSSDK -->
  <script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>

  <!-- 搜狐接口获取本地ip存入全局变量 -->
  <script src="https://pv.sohu.com/cityjson?ie=utf-8">
    alert('搜狐接口获取ip地址');
  </script>
  <script type="text/javascript">
    window.scratchGlobal = {};
    let theReturnCitySN = returnCitySN;
    if (theReturnCitySN) {
      alert('搜狐接口获取到returnCitySN了');
      window.scratchGlobal.returnCitySN = {};
      window.scratchGlobal.returnCitySN.ip = theReturnCitySN.cip;
      window.scratchGlobal.returnCitySN.address = theReturnCitySN.cname;
    }
  </script>
</head>

<body>
  <div id="app"></div>

  <!-- Vendor & Initialize (Session & Localization)-->
  <script src="/<%= htmlWebpackPlugin.files.chunks.common.entry %>"></script>

  <!-- Scripts -->
  <script src="/js/<%= htmlWebpackPlugin.options.route.name %>.intl.js"></script>
  <script src="/<%= htmlWebpackPlugin.files.chunks[htmlWebpackPlugin.options.route.name].entry %>"></script>
</body>

</html>